@import "tailwindcss";


body {
    font-family: "Poppins", sans-serif;
    background-color: #1f242d;
    color: whitesmoke;
}


.autofill-override input:-webkit-autofill,
.autofill-override input:-webkit-autofill:hover,
.autofill-override input:-webkit-autofill:focus,
.autofill-override input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important; 
  -webkit-box-shadow: 0 0 0 30px #313945 inset !important; 
  background-clip: content-box !important;
}